[Desktop Entry]
Name=AWF GTK4
Comment=A widget factory is a theme preview application.
Comment[fr]=La fabrique à widgets est une application d'aperçu de thème.
Exec=awf-gtk4
Icon=awf-gtk4
Terminal=false
Type=Application
Keywords=gtk;
Categories=GTK;Development;
StartupNotify=true
